body {
 background: rgb(22, 22, 22);
 color: #fff;
 font-family: 'Noto Sans', sans-serif;
 font-size: 16px;
}

.main-container {
  margin: 50px;
}

.header-title {
  text-align: center;
  font-size: 29px;
}

.movie-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.item-card {
  border: 4px solid #fff;
  box-shadow: 10px 6px #47444491;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.1s ease-in;
  position: relative; 
}

.item-card::before {    
  content: "";
  background-image: url("./assets/netflixlogo.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.28;
}

.item-card:hover{
  border: 4px solid red;
}

.item-card-content {
  position: relative;
}

.item-card-listed-in {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.btn-container input {
  height: 33px;
  width: 16%;
  margin-top: 12px;
  border: 1px solid red;
  border-radius: 11px;
  background: #000;
  color: #ffff;
  font-family: 'Noto Sans', sans-serif;
  padding-left: 10px;
}

.btn {
  width: 90px;
  padding: 10px;
  margin: 10px;
  background-color: #ff0000;
  border: none;
  border-radius: 7px;
  color: #faf8f8;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.5px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 600px){
  .movie-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}